<Layouts.app
  flash={@flash}
  mode={@mode}
  theme={@theme}
  locale={@locale}
  current_path={@current_path}
>
  <h1>Marquee</h1>
  <h2>Controller View</h2>
  <h3>Client API</h3>
  <section class="layout__section">
    <div class="layout__row">
      <.action phx-click={Corex.Marquee.pause("my-marquee")} class="button button--sm">
        Pause
      </.action>
      <.action phx-click={Corex.Marquee.resume("my-marquee")} class="button button--sm">
        Resume
      </.action>
      <.action phx-click={Corex.Marquee.toggle_pause("my-marquee")} class="button button--sm">
        Toggle pause
      </.action>
    </div>
  </section>

  <h3>Pause on hover</h3>

  <.marquee
    id="my-marquee"
    class="marquee"
    items={[
      %{name: "Apple", logo: "🍎"},
      %{name: "Banana", logo: "🍌"},
      %{name: "Cherry", logo: "🍒"},
      %{name: "Grape", logo: "🍇"},
      %{name: "Lemon", logo: "🍋"}
    ]}
    duration={20}
    spacing="2rem"
    pause_on_interaction
  >
    <:item :let={%{item: item}}>
      <span>{item.logo}</span>
      <span>{item.name}</span>
    </:item>
  </.marquee>

  <h3>With components</h3>
  <.marquee
    id="marquee-icons"
    class="marquee"
    items={[
      %{name: "Home", icon: "hero-home"},
      %{name: "User", icon: "hero-user"},
      %{name: "Cog", icon: "hero-cog-6-tooth"},
      %{name: "Heart", icon: "hero-heart"},
      %{name: "Star", icon: "hero-star"}
    ]}
    duration={25}
    spacing="2rem"
    pause_on_interaction
  >
    <:item :let={%{item: item}}>
      <.icon name={item.icon} />
      <span>{item.name}</span>
    </:item>
  </.marquee>

  <h3>With files</h3>
  <.marquee
    id="marquee-tech"
    class="marquee"
    items={[
      %{name: "Phoenix", src: ~p"/images/tech/phoenix.svg"},
      %{name: "Elixir", src: ~p"/images/tech/elixir.svg"},
      %{name: "HTML5", src: ~p"/images/tech/html5.svg"},
      %{name: "CSS", src: ~p"/images/tech/css.svg"},
      %{name: "JavaScript", src: ~p"/images/tech/javascript.svg"},
      %{name: "TypeScript", src: ~p"/images/tech/typescript.svg"},
      %{name: "Tailwind", src: ~p"/images/tech/tailwind.svg"},
      %{name: "Figma", src: ~p"/images/tech/figma.svg"}
    ]}
    duration={30}
    spacing="2rem"
    pause_on_interaction
  >
    <:item :let={%{item: item}}>
      <img src={item.src} alt={item.name} class="w-10 mx-auto" />
      <p>{item.name}</p>
    </:item>
  </.marquee>
</Layouts.app>
