<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <div class="layout__row">
    <h1>Pin Input</h1>
    <h2>Controller View</h2>
  </div>
  <.pin_input id="my-pin-input" count={4} class="pin-input">
    <:label>Code</:label>
  </.pin_input>
</Layouts.app>
