<Layouts.app flash={@flash} locale={@locale} current_path={@current_path}>
  <h1>Switch</h1>
  <h2>Controller View</h2>
  <.switch class="switch">
    <:label>Enable notifications</:label>
  </.switch>
</Layouts.app>
