<Layouts.app
  flash={@flash}
  mode={@mode}
  theme={@theme}
  locale={@locale}
  current_path={@current_path}
>
  <div class="layout__row">
    <h1>Text Input</h1>
    <h2>Controller View</h2>
  </div>
  <.text_input id="my-text-input" name="user[name]" class="text-input">
    <:label>Name</:label>
  </.text_input>
</Layouts.app>
