@import "tailwindcss" source(none);
@plugin "../vendor/heroicons";

@source "../css";
@source "../corex";

@source "../js";
@source "../../lib/e2e_web";

@import "../corex/main.css";
@import "../corex/tokens/themes/neo/light.css";
@import "../corex/tokens/themes/neo/dark.css";
@import "../corex/tokens/themes/uno/light.css";
@import "../corex/tokens/themes/uno/dark.css";
@import "../corex/tokens/themes/duo/light.css";
@import "../corex/tokens/themes/duo/dark.css";
@import "../corex/tokens/themes/leo/light.css";
@import "../corex/tokens/themes/leo/dark.css";
@import "../corex/components/typo.css";
@import "../corex/components/accordion.css";
@import "../corex/components/layout.css";
@import "../corex/components/combobox.css";
@import "../corex/components/date-picker.css";
@import "../corex/components/select.css";
@import "../corex/components/checkbox.css";
@import "../corex/components/clipboard.css";
@import "../corex/components/color-picker.css";
@import "../corex/components/collapsible.css";
@import "../corex/components/menu.css";
@import "../corex/components/dialog.css";
@import "../corex/components/icon.css";
@import "../corex/components/link.css";
@import "../corex/components/scrollbar.css";
@import "../corex/components/signature-pad.css";
@import "../corex/components/switch.css";
@import "../corex/components/toggle-group.css";
@import "../corex/components/tabs.css";
@import "../corex/components/tree-view.css";
@import "../corex/components/toast.css";
@import "../corex/components/button.css";
@import "../corex/components/badge.css";
@import "../corex/components/angle-slider.css";
@import "../corex/components/avatar.css";
@import "../corex/components/carousel.css";
@import "../corex/components/editable.css";
@import "../corex/components/floating-panel.css";
@import "../corex/components/listbox.css";
@import "../corex/components/marquee.css";
@import "../corex/components/number-input.css";
@import "../corex/components/password-input.css";
@import "../corex/components/pin-input.css";
@import "../corex/components/native-input.css";
@import "../corex/components/radio-group.css";
@import "../corex/components/timer.css";
@import "../corex/components/code.css";

@import "./navigation.css";



#locale-select.select,
#locale-select.select [data-scope="select"][data-part="root"],
#locale-select.select [data-scope="select"][data-part="trigger"],
#theme-select.select,
#theme-select.select [data-scope="select"][data-part="root"],
#theme-select.select [data-scope="select"][data-part="trigger"] {
    width: auto;
}


@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

[data-phx-session], [data-phx-teleported-src] { display: contents }

