<Layouts.app
  flash={@flash}
  mode={@mode}
  theme={@theme}
  locale={@locale}
  current_path={@current_path}
>
  <.layout_heading>
    <:title>Edit User {@user.id}</:title>
    <:subtitle>Use this form to manage user records in your database.</:subtitle>
  </.layout_heading>

  <.user_form
    changeset={@changeset}
    action={~p"/#{@locale}/users/#{@user}"}
    return_to={~p"/#{@locale}/users"}
  />
</Layouts.app>
