<Layouts.app
  flash={@flash}
  mode={@mode}
  theme={@theme}
  locale={@locale}
  current_path={@current_path}
>
  <.header>
    Edit User {@user.id}
    <:subtitle>Use this form to manage user records in your database.</:subtitle>
  </.header>

  <.user_form
    changeset={@changeset}
    action={~p"/#{@locale}/users/#{@user}"}
    return_to={~p"/#{@locale}/users"}
  />
</Layouts.app>
