@import "../main.css";

@layer components {
  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: unset;
    width: fit-content;
    max-width: 100%;
    font-size: calc(var(--text-base) * 0.8);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-normal);
    border-radius: var(--radius-full);
    border: 1px solid var(--color-border);
    padding: var(--spacing-space);
    gap: var(--spacing-space);
    height: calc(--spacing(11) * 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: var(--color-ink);
    background-color: var(--color-ui);

    &:disabled,
    &[data-disabled],
    &[disabled] {
      color: var(--color-ink-muted);
      background-color: var(--color-ui-muted);
      cursor: not-allowed;
    }

    & svg {
      @apply ui-icon;

      padding: 0;
    }
  }

  .badge.badge--square,
  .badge.badge--circle {
    display: inline-flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;
  }

  .badge.badge--circle {
    border-radius: var(--radius-full);
  }
}

@utility badge--* {
  font-size: calc(--value(--text-*, [length]) * 0.8);
  line-height: calc(--value(--text-*--line-height, [length]) * 0.8);
  height: calc(--value(--spacing-*, [length]) * 0.8);
  background-color: --value(--color-ui, [color]);
  color: --value(--color-ink, [color]);
  border-color: --value(--color-border, [color]);

  padding-inline: --value(--spacing-space-*, [length]);
  gap: --value(--spacing-space-*, [length]);

  &:disabled,
  &[data-disabled],
  &[disabled] {
    color: var(--color-ink-muted);
    background-color: --value(--color-ui-muted, [color]);
  }
}
