@import "../main.css";

@layer components {
  .button {
    @apply ui-trigger;

    width: fit-content;
    justify-content: center;
    text-align: center;
  }

  .button.button--square {
    @apply ui-trigger--square;
  }

  .button.button--circle {
    @apply ui-trigger--circle;
  }

  .button.button--ghost {
    @apply ui-trigger--ghost;
  }
}

@utility button--* {
  font-size: --value(--text-*, [length]);
  line-height: --value(--text-*--line-height, [length]);
  padding: --value(--spacing-space-*, [length]);
  gap: --value(--spacing-space-*, [length]);
  background-color: --value(--color-*, [color]);
  color: --value(--color-*-ink, [color]);
  min-height: --value(--spacing-size-*, [length]);

  &:hover {
    background-color: --value(--color-*-hover, [color]);
  }

  &:active {
    background-color: --value(--color-*-active, [color]);
  }
}
