@import "../main.css";

@layer components {
  .carousel[data-loading] [data-scope="carousel"][data-part="root"] {
    @apply ui-loading;
  }

  .carousel {
    width: 100%;
    max-width: var(--container-md);
    max-height: var(--container-md);

  }

  .carousel [data-scope="carousel"][data-part="root"] {
    @apply ui-root;

    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
    min-height: 0;
    gap: --spacing(4);
    justify-content: center;
    position: relative;
  }

  .carousel [data-scope="carousel"][data-part="control"] {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: auto;
    padding: --spacing(4);
    overflow: hidden;
    gap: var(--spacing-space);
    justify-content: center;
    border-radius: var(--radius-md);

    &[data-orientation="horizontal"] {
      flex-direction: row;
      bottom: var(--spacing-space);
    }

    &[data-orientation="vertical"] {
      flex-flow: column nowrap;
      right: var(--spacing-space);
    }
  }

  .carousel [data-scope="carousel"][data-part="prev-trigger"],
  .carousel [data-scope="carousel"][data-part="next-trigger"],
  .carousel [data-scope="carousel"][data-part="autoplay-trigger"] {
    @apply ui-trigger ui-trigger--square ui-trigger--sm;
    min-height: --spacing(6);
    padding: 0;

    &:disabled,
    &[data-disabled],
    &[disabled] {
      visibility: hidden;
    }
  }

  .carousel [data-scope="carousel"][data-part="item-group"] {
    overflow: hidden;
    align-self: stretch;
    min-width: 0;
    min-height: 0;
    border-radius: var(--radius-md);
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .carousel [data-scope="carousel"][data-part="item"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--color-ui);
  }

  .carousel [data-scope="carousel"][data-part="item"] img {
    margin: 0;
    object-fit: cover;
    border-radius: var(--radius-md);
  }

  .carousel
    [data-scope="carousel"][data-part="item"][data-orientation="horizontal"]
    img {
    height: 100%;
    width: 100%;
  }

  .carousel
    [data-scope="carousel"][data-part="item"][data-orientation="vertical"]
    img {
    height: 100%;
    width: 100%;
  }

  .carousel [data-scope="carousel"][data-part="indicator-group"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-space);

    &[data-orientation="horizontal"] {
      flex-direction: row;
      height: auto;
    }

    &[data-orientation="vertical"] {
      flex-direction: column;
      height: auto;
    }
  }

  .carousel [data-scope="carousel"][data-part="indicator"] {
    @apply ui-trigger ui-trigger--circle;

    min-height: --spacing(4);
    min-width: --spacing(4);
    padding: 0;
  }

  .carousel [data-scope="carousel"][data-part="indicator"][data-current] {
    background-color: var(--color-accent);
  }

  .carousel
    [data-scope="carousel"][data-part="autoplay-trigger"][data-pressed]
    [data-play] {
    display: none;
  }

  .carousel
    [data-scope="carousel"][data-part="autoplay-trigger"]:not([data-pressed])
    [data-pause] {
    display: none;
  }
}

@utility carousel--* {

  [data-scope="carousel"][data-part="root"] {
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="carousel"][data-part="control"] {
    max-width: --value(--container-*, [length]);
    padding: --value(--spacing-space-*, [length]);
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="carousel"][data-part="next-trigger"],
  [data-scope="carousel"][data-part="prev-trigger"],
  [data-scope="carousel"][data-part="autoplay-trigger"] {
    gap: --value(--spacing-space-*, [length]);
    
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    background-color: --value(--color-ui, [color]);
    color: --value(--color-ink, [color]);
    border-color: --value(--color-border, [color]);
  }

  [data-scope="carousel"][data-part="next-trigger"]:hover,
  [data-scope="carousel"][data-part="prev-trigger"]:hover,
  [data-scope="carousel"][data-part="autoplay-trigger"]:hover {
    background-color: --value(--color-ui-hover, [color]);
  }

  [data-scope="carousel"][data-part="next-trigger"]:active,
  [data-scope="carousel"][data-part="prev-trigger"]:active,
  [data-scope="carousel"][data-part="autoplay-trigger"]:active {
    background-color: --value(--color-ui-active, [color]);
  }

  [data-scope="carousel"][data-part="next-trigger"]:focus-visible,
  [data-scope="carousel"][data-part="prev-trigger"]:focus-visible,
  [data-scope="carousel"][data-part="autoplay-trigger"]:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px --value(--color-ink, [color]);
  }

  [data-scope="carousel"][data-part="indicator"] {
    min-height: calc(--value(--spacing-*, [length]) * 4);
    min-width: calc(--value(--spacing-*, [length]) * 4);
  }

  [data-scope="carousel"][data-part="indicator"][data-current] {
    background-color: --value(--color-*, [color]);
  }
}
