@import "../main.css";

@layer components {
  .data-list {
    @apply ui-root;
    width: 100%;
    max-width: var(--container-md);
    overflow: hidden;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--color-border);
    color: var(--color-ink);
  }

  .data-list:has([data-orientation="horizontal"]) {
    max-width: none;
    width: auto;
    background-color: transparent;
    border:0;
  }

  .data-list [data-scope="data-list"][data-part="root"] {
    @apply scrollbar scrollbar--sm;

    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    background-color: var(--color-border);
    color: var(--color-ink);
    border-radius: var(--radius-md);
    overflow: auto;
    gap: 1px;
  }

  .data-list [data-scope="data-list"][data-part="root"][data-orientation="horizontal"] {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    border: 0;
    width: auto;
    justify-content: center;
  }



  .data-list [data-scope="data-list"][data-part="item"] {
    padding: --spacing(4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: background-color 0.2s ease-in-out;
    gap: --spacing(4);
    background-color: var(--color-layer);
    color: var(--color-ink);
  }

  .data-list [data-scope="data-list"][data-part="title"] {
    @apply ui-label;
  }

  .data-list [data-scope="data-list"][data-part="value"] {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    margin: 0;
  }

  .data-list [data-scope="data-list"][data-part="root"][dir="rtl"]
    [data-scope="data-list"][data-part="title"] {
    text-align: end;
    justify-content: end;
  }

  .data-list [data-scope="data-list"][data-part="root"][dir="rtl"]
    [data-scope="data-list"][data-part="value"] {
    text-align: end;
  }
}

@utility data-list--* {
  font-size: --value(--text-*, [length]);
  line-height: --value(--text-*--line-height, [length]);

  [data-scope="data-list"][data-part="item"] {
    padding: --value(--spacing-space-*, [length]);
  }

  [data-scope="data-list"][data-part="title"] {
    font-size: calc(--value(--text-*, [length]) * 0.85);
  }
}