@import "../main.css";

@layer components {
  .editable {
    width: 100%;
    max-width: var(--container-3xs);
  }

  .editable[data-loading] [data-scope="editable"][data-part="root"] {
    @apply ui-loading;
  }

  .editable [data-scope="editable"][data-part="root"] {
    @apply ui-root;

    width: 100%;
    position: relative;
    padding-inline-end: var(--spacing-space);
  }

  .editable [data-scope="editable"][data-part="root"][data-readonly],
  .editable [data-scope="editable"][data-part="root"][data-read-only] {
    @apply ui-readonly;
  }
  .editable [data-scope="editable"][data-part="control"] {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-space);
    
    width: 100%;
    align-items: center;
    justify-content: start;

  }

  .editable [data-scope="editable"][data-part="area"] {
    display: flex;
    
    flex: 1 1 auto;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-space);
  }

  .editable [data-scope="editable"][data-part="input"] {
    @apply ui-input;

    flex: 1 1 auto;
    width: 100%;
    max-width: none;
  }

  .editable [data-scope="editable"][data-part="preview"] {
    @apply ui-input;

    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    max-width: none;
    text-wrap: nowrap;
  }

  .editable [data-part="triggers"] {
    display: inline-flex;
    align-items: center;
    
    flex: 1 1 auto;
    gap: var(--spacing-space);
  }

  .editable [data-scope="editable"][data-part="edit-trigger"],
  .editable [data-scope="editable"][data-part="cancel-trigger"],
  .editable [data-scope="editable"][data-part="submit-trigger"] {
    @apply ui-trigger ui-trigger--square;
  }

  .editable [data-scope="editable"][data-part="cancel-trigger"] {
    @apply ui-trigger--alert;
  }

  .editable [data-scope="editable"][data-part="submit-trigger"] {
    @apply ui-trigger--success;
  }
}

@utility editable--* {

  [data-scope="editable"][data-part="root"] {
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="editable"][data-part="edit-trigger"],
  [data-scope="editable"][data-part="cancel-trigger"],
  [data-scope="editable"][data-part="submit-trigger"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    
    padding-inline: --value(--spacing-space-*, [length]);
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="editable"][data-part="edit-trigger"]::placeholder,
  [data-scope="editable"][data-part="cancel-trigger"]::placeholder,
  [data-scope="editable"][data-part="submit-trigger"]::placeholder {
    color: --value(--color-ink, [color]);
  }

  [data-scope="editable"][data-part="preview"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    
    max-width: --value(--container-*, [length]);
  }

  [data-scope="editable"][data-part="input"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    
  }
}
