@import "../main.css";

@layer components {

  .layout-heading {
    width: 100%;
  }

  .layout-heading [data-scope="layout-heading"][data-part="root"] {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-size);
    width: 100%;
    padding: var(--spacing-space);
  }

  .layout-heading [data-scope="layout-heading"][data-part="content"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space);
  }

  .layout-heading h1,
  .layout-heading h2 {
    margin: 0;
  }

  .layout-heading [data-scope="layout-heading"][data-part="title"] {
    color: var(--color-ink);
  }

  .layout-heading [data-scope="layout-heading"][data-part="subtitle"] {
    color: var(--color-ink-muted);
  }

  .layout-heading [data-scope="layout-heading"][data-part="actions"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-space);
    padding: 0;
    align-items: start;
  }
}

@utility layout-heading--* {

  [data-scope="layout-heading"][data-part="title"] {
    color: --value(--color-ink-*, [color]);
  }

  [data-scope="layout-heading"][data-part="subtitle"] {
    color: --value(--color-ink-*, [color]);
  }
}
