@import "../main.css";

@keyframes marqueeX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(var(--marquee-translate));
  }
}

@keyframes marqueeY {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(var(--marquee-translate));
  }
}


@layer components {


  .marquee {
    width: 100%;
    max-width: var(--container-md);
  }

  .marquee:not([data-loading]) {
    opacity: 1;
    transition: opacity 2s ease;
  }

  .marquee[data-loading] {
    opacity: 0;
  }

  .marquee[data-loading] [data-scope="marquee"][data-part="root"] {
    @apply ui-loading;
  }
  
.marquee [data-scope="marquee"][data-part="root"] {
  width: 100%;

  &[data-orientation="vertical"] {
    height:  var(--container-md);
  }

  &[data-orientation="horizontal"] {
    width: 100%;
    height:  fit-content;
  }

  &[data-paused] {
    &,
    * {
      animation-play-state: paused !important;
    }
  }
}
.marquee [data-scope="marquee"][data-part="content"] {
  animation-timing-function: linear;
  animation-duration: var(--marquee-duration);
  animation-delay: var(--marquee-delay);
  animation-iteration-count: var(--marquee-loop-count);

  &[data-side="start"],
  &[data-side="end"] {
    animation-name: marqueeX;
  }

  &[data-side="top"],
  &[data-side="bottom"] {
    animation-name: marqueeY;
  }

  &[data-reverse] {
    animation-direction: reverse;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
  }
}

.marquee  [data-scope="marquee"][data-part="edge"] {
  z-index: 10;

  --edge-background: var(--color-root);

  &[data-side="start"] {
    width: 20%;
    background: linear-gradient(to right, var(--edge-background), transparent);

    &[dir="rtl"] {
      background: linear-gradient(to left, var(--edge-background), transparent);
    }
  }

  &[data-side="end"] {
    width: 20%;
    background: linear-gradient(to left, var(--edge-background), transparent);

    &[dir="rtl"] {
      background: linear-gradient(to right, var(--edge-background), transparent);
    }
  }

  &[data-side="top"] {
    height: 20%;
    background: linear-gradient(to bottom, var(--edge-background), transparent);
  }

  &[data-side="bottom"] {
    height: 20%;
    background: linear-gradient(to top, var(--edge-background), transparent);
  }
}
}

@utility marquee--on-* {
  [data-scope="marquee"][data-part="edge"] {

  --edge-background: --value(--color-*, [color]);
  }
}