@import "../main.css";

@layer components {
  .number-input {
    width: 100%;
    max-width: var(--container-6xs);
  }

  .number-input[data-loading] [data-scope="number-input"][data-part="root"] {
    @apply ui-loading;
  }

  .number-input [data-scope="number-input"][data-part="root"] {
    @apply ui-root;

    gap: var(--spacing-space);
    position: relative;
    padding-inline-end: var(--spacing-space);
  }

  .number-input [data-scope="number-input"][data-part="root"][data-readonly],
  .number-input [data-scope="number-input"][data-part="root"][data-read-only] {
    @apply ui-readonly;
  }

  .number-input [data-scope="number-input"][data-part="label"] {
    @apply ui-label;
  }

  .number-input [data-scope="number-input"][data-part="control"] {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  .number-input [data-scope="number-input"][data-part="input"] {
    @apply ui-input;

    flex: 1;
    max-width: var(--container-5xs);
    min-height: var(--spacing-size);
    max-height: var(--spacing-size);
    box-sizing: border-box;
    border-inline-end: 0;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }

  .number-input [data-part="trigger-group"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 0;
    width: --spacing(11);
    min-height: var(--spacing-size);
    height: var(--spacing-size);
    max-height: var(--spacing-size);
    box-sizing: border-box;
  }

  .number-input [data-scope="number-input"][data-part="increment-trigger"],
  .number-input [data-scope="number-input"][data-part="decrement-trigger"] {
    @apply ui-trigger ui-trigger--square;

    flex: 1;
    min-height: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    margin: 0;
    padding: 0;
    width: fit-content;
    padding-inline: var(--spacing-space);
  }

  .number-input [data-scope="number-input"][data-part="increment-trigger"] {
    border-end-end-radius: 0;
    border-block-end: 0;
  }

  .number-input [data-scope="number-input"][data-part="decrement-trigger"] {
    border-start-end-radius: 0;
    border-block-start: 0;
  }

  .number-input [data-scope="number-input"][data-part="error"] {
    @apply ui-error;
  }
}

@utility number-input--* {

  [data-scope="number-input"][data-part="root"] {
    gap: --value(--spacing-space-*, [length]);
  }

  [data-scope="number-input"][data-part="label"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
  }

  [data-scope="number-input"][data-part="control"] {
    max-width: --value(--container-*, [length]);
  }

  [data-part="trigger-group"] {
    width: --spacing(11);
    min-height: --value(--spacing-size-*, [length]);
    height: --value(--spacing-size-*, [length]);
    max-height: --value(--spacing-size-*, [length]);
    box-sizing: border-box;
  }

  [data-scope="number-input"][data-part="input"] {
    max-width: --value(--container-*, [length]);
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    min-height: --value(--spacing-size-*, [length]);
    max-height: --value(--spacing-size-*, [length]);
    box-sizing: border-box;
    padding-inline: --value(--spacing-space-*, [length]);
    background-color: --value(--color-ui, [color]);
    color: --value(--color-ink, [color]);
  }

  [data-scope="number-input"][data-part="increment-trigger"],
  [data-scope="number-input"][data-part="decrement-trigger"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    background-color: --value(--color-ui, [color]);
    color: --value(--color-ink, [color]);
    min-height: calc(--value(--spacing-size-*, [length]) / 2);
  }

  [data-scope="number-input"][data-part="increment-trigger"][data-disabled],
  [data-scope="number-input"][data-part="decrement-trigger"][data-disabled] {
    background-color: --value(--color-ui-muted, [color]);
    color: var(--color-ink-muted);
    cursor: not-allowed;
  }
}
