@import "../main.css";

@layer components {
  .radio-group {
    width: fit-content;
    max-width: var(--container-md);
  }

  .radio-group[data-loading] [data-scope="radio-group"][data-part="root"] {
    @apply ui-loading;
  }

  .radio-group [data-scope="radio-group"][data-part="root"] {
    @apply ui-root;

    gap: var(--spacing-space);
    position: relative;
    padding-inline-end: var(--spacing-space);
  }

  .radio-group [data-scope="radio-group"][data-part="root"][data-readonly] {
    @apply ui-readonly;
  }

  .radio-group [data-scope="radio-group"][data-part="label"] {
    @apply ui-label;
  }

  [data-scope="radio-group"][data-part="item"] {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: var(--spacing-space);
    cursor: pointer;
  }

  [data-scope="radio-group"][data-part="item-text"] {
    flex: 1 1 auto;
    min-width: 0;
    text-align: start;
  }

  [data-scope="radio-group"][data-part="item"][data-disabled] {
    cursor: not-allowed;
  }

  [data-scope="radio-group"][data-part="item-control"] {
    flex-shrink: 0;
    margin-inline-start: auto;
    height: calc(var(--spacing-size) * 0.6);
    width: calc(var(--spacing-size) * 0.6);
    background: var(--color-ui);
    color: var(--color-ink);
    font-weight: var(--font-weight-normal);
    border-radius: var(--radius-full);
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: calc(var(--spacing-space) * 0.25);

    &[data-state="checked"] {
      background: var(--color-selected);
      color: var(--color-selected-ink);
      border-color: var(--color-selected);
    }

    &[data-state="unchecked"] {
      background: var(--color-ui);
      color: var(--color-ink);
      border-color: var(--color-border);
    }

    &:hover {
      background-color: var(--color-ui-hover);
    }

    &:active {
      background-color: var(--color-ui-active);
    }

    &[data-state="checked"]:hover {
      background-color: var(--color-selected-hover);
    }

    &[data-state="checked"]:active {
      background-color: var(--color-selected-active);
    }

    &:focus-visible,
    &[data-focus] {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--color-ink);
    }

    &[data-state="checked"]:focus-visible,
    &[data-state="checked"][data-focus] {
      box-shadow: inset 0 0 0 2px var(--color-selected-ink);
    }

    &:disabled,
    &[data-disabled],
    &[disabled] {
      color: var(--color-ink-muted);
      background-color: var(--color-ui-muted);
      cursor: not-allowed;
    }

    &[data-invalid] {
      color: var(--color-alert);
      border-color: var(--color-alert);
    }

    &[data-required] {
      color: var(--color-alert);
      border-color: var(--color-alert);
    }
  }

  [data-scope="radio-group"][data-part="item-control"] .data-checked {
    display: none !important;
  }

  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]
    .data-checked {
    display: block !important;
    @apply ui-icon;
    color: inherit;
    width: 60%;
    height: 60%;
  }

  .radio-group [data-scope="radio-group"][data-part="error"] {
    @apply ui-error;
  }
}

@utility radio-group--* {

  .radio-group [data-scope="radio-group"][data-part="label"],
  [data-scope="radio-group"][data-part="item-text"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
  }

  [data-scope="radio-group"][data-part="item-control"] {
    height: calc(--value(--spacing-size-*, [length]) * 0.6);
    width: calc(--value(--spacing-size-*, [length]) * 0.6);
    padding: calc(--value(--spacing-space-*, [length]) * 0.25);
  }

  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]:not(
      :disabled
    ):not([data-disabled]):not([disabled]) {
    background-color: --value(--color-*, [color]);
    color: --value(--color-*-ink, [color]);
    border-color: --value(--color-*, [color]);
  }

  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]:not(
      :disabled
    ):not([data-disabled]):not([disabled]):hover {
    background-color: --value(--color-*-hover, [color]);
  }

  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]:not(
      :disabled
    ):not([data-disabled]):not([disabled]):active {
    background-color: --value(--color-*-active, [color]);
  }

  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]:not(
      :disabled
    ):not([data-disabled]):not([disabled]):focus-visible,
  [data-scope="radio-group"][data-part="item-control"][data-state="checked"]:not(
      :disabled
    ):not([data-disabled]):not([disabled])[data-focus] {
    box-shadow: inset 0 0 0 2px --value(--color-*-ink, [color]);
  }
}
