@import "../main.css";

@utility scrollbar {
  &::-webkit-scrollbar {
    width: var(--spacing-space);
    height: var(--spacing-space);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-ui);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-border);
  }

  &::-webkit-scrollbar-corner {
    background: var(--color-border);
  }
}

@utility scrollbar--* {
  &::-webkit-scrollbar {
    width: --value(--spacing-space-*, [length]);
    height: --value(--spacing-space-*, [length]);
  }

  &::-webkit-scrollbar-thumb {
    background: --value(--color-*, [color]);
  }

  &::-webkit-scrollbar-corner {
    background: --value(--color-*, [color]);
  }
}
