@import "../main.css";

@layer components {
  .switch[data-loading] [data-scope="switch"][data-part="root"] {
    @apply ui-loading;
  }

  .switch [data-scope="switch"][data-part="root"] {
    --switch-track-width: var(--spacing-size);
    --switch-track-height: calc(var(--spacing-size) * 0.5);
    --switch-track-diff: calc(
      var(--switch-track-width) - var(--switch-track-height)
    );
    --switch-thumb-x: var(--switch-track-diff);

    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    gap: var(--spacing-space);
    padding-inline-end: var(--spacing-space);
  }

  .switch [data-scope="switch"][data-part="root"][data-readonly],
  .switch [data-scope="switch"][data-part="root"][data-read-only] {
    @apply ui-readonly;
  }

  .switch [data-scope="switch"][data-part="control"] {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    justify-content: flex-start;
    box-sizing: content-box;
    border-radius: var(--radius-4xl);
    border: 1px solid var(--color-border);
    padding: --spacing(1);
    width: var(--switch-track-width);
    height: var(--switch-track-height);
    transition-property:
      background, border-color, color, fill, stroke, opacity, box-shadow,
      transform;
    transition-duration: 150ms;
    background: var(--color-ui);
  }

  .switch [data-scope="switch"][data-part="control"][data-disabled] {
    color: var(--color-ink-muted);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }

  .switch [data-scope="switch"][data-part="control"][data-invalid] {
    border-color: var(--color-alert);
  }

  .switch [data-scope="switch"][data-part="thumb"][data-invalid] {
    background: var(--color-alert);
  }

  .switch [data-scope="switch"][data-part="control"][data-state="checked"] {
    background-color: var(--color-selected);

    & [data-scope="switch"][data-part="thumb"] {
      background-color: var(--color-selected-ink);
    }
  }

  .switch [data-scope="switch"][data-part="thumb"] {
    background: var(--color-ink);
    transition-property: transform, background-color;
    transition-duration: 200ms;
    border-radius: inherit;
    width: var(--switch-track-height);
    height: var(--switch-track-height);
    position: relative;
  }

  .switch [data-scope="switch"][data-part="thumb"][data-state="checked"] {
    transform: translateX(var(--switch-thumb-x));
    background: var(--color-selected-ink);
  }

  .switch
    [data-scope="switch"][data-part="root"][dir="rtl"]
    [data-scope="switch"][data-part="thumb"][data-state="checked"] {
    transform: translateX(calc(var(--switch-thumb-x) * -1));
  }

  .switch [data-scope="switch"][data-part="label"] {
    @apply ui-label;

    cursor: pointer;
  }

  .switch--square [data-scope="switch"][data-part="control"] {
    border-radius: var(--radius-none);
  }

  .switch [data-scope="switch"][data-part="error"] {
    @apply ui-error;
  }
}

@utility switch--* {

  [data-scope="switch"][data-part="control"] {
    --switch-track-width: --value(--spacing-size-*, [length]);
    --switch-track-height: calc(--value(--spacing-size-*, [length]) * 0.5);
    --switch-track-diff: calc(
      var(--switch-track-width) - var(--switch-track-height)
    );
    --switch-thumb-x: var(--switch-track-diff);
  }

  [data-scope="switch"][data-part="control"][data-state="checked"] {
    background-color: --value(--color-*, [color]);

    & [data-scope="switch"][data-part="thumb"] {
      background-color: --value(--color-*-ink, [color]);
    }
  }
}