@import "../main.css";

@layer components {
  .toggle[data-loading] [data-scope="toggle"][data-part="root"] {
    @apply ui-loading;
  }

  .toggle [data-scope="toggle"][data-part="root"] {
    @apply ui-trigger;

    width: fit-content;
  }

  .toggle [data-scope="toggle"][data-part="indicator"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .toggle[data-toggle-dual-label]
    [data-scope="toggle"][data-part="root"][data-state="off"]
    > span[data-pressed] {
    display: none;
  }

  .toggle[data-toggle-dual-label]
    [data-scope="toggle"][data-part="root"][data-state="on"]
    > span:not([data-scope]):not([data-pressed]) {
    display: none;
  }
}

@utility toggle--* {
  [data-scope="toggle"][data-part="root"] {
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    padding-inline: --value(--spacing-space-*, [length]);
    gap: --value(--spacing-space-*, [length]);
    min-height: --value(--spacing-size-*, [length]);
    color: --value(--color-*, [color]);

    &:focus-visible:not([data-state="on"]) {
      outline: none;
      box-shadow: inset 0 0 0 2px --value(--color-*, [color]);
    }

    &:disabled,
    &[data-disabled],
    &[disabled] {
      background-color: --value(--color-*-muted, [color]);
      color: --value(--color-*-ink, [color]);
      cursor: not-allowed;
    }

    &[data-state="on"] {
      background-color: --value(--color-*, [color]);
      color: --value(--color-*-ink, [color]);

      &:hover {
        background-color: --value(--color-*-hover, [color]);
      }

      &:active {
        background-color: --value(--color-*-active, [color]);
      }

      &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 2px --value(--color-*-ink, [color]);
      }

      &:disabled,
      &[data-disabled],
      &[disabled] {
        background-color: --value(--color-*-muted, [color]);
        color: --value(--color-*-ink, [color]);
        cursor: not-allowed;
      }
    }
  }
}

@utility toggle--rounded-* {
  [data-scope="toggle"][data-part="root"] {
    border-radius: --value(--radius-*, [length]);
  }
}
