@import "../main.css";

@layer components {
  .toggle-group [data-scope="toggle-group"][data-part="root"] {
    @apply ui-root;

    justify-content: center;
    flex-direction: row;
    width: auto;
    gap: 1px;
    background-color: var(--color-ui--border);
    border: 1px solid var(--color-ui--border);
    border-radius: var(--radius-ui);
    overflow: hidden;
  }

  .toggle-group [data-scope="toggle-group"][data-part="item"] {
    @apply ui-item;

    width: auto;
    justify-content: center;
  }

  .toggle-group.toggle-group--square [data-scope="toggle-group"][data-part="root"],
  .toggle-group.toggle-group--circle [data-scope="toggle-group"][data-part="root"],
  .toggle-group.toggle-group--square [data-scope="toggle-group"][data-part="item"],
  .toggle-group.toggle-group--circle [data-scope="toggle-group"][data-part="item"] {
    display: inline-flex;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;
  }

  .toggle-group.toggle-group--circle [data-scope="toggle-group"][data-part="root"],
  .toggle-group.toggle-group--circle [data-scope="toggle-group"][data-part="item"] {
    border-radius: var(--radius-full);
  }

  /* .toggle-group [data-scope="toggle-group"][data-part="item"] .icon.state-on,
  .toggle-group [data-scope="toggle-group"][data-part="item"] .icon.state-off {
    display: none;
  } */

  .toggle-group [data-scope="toggle-group"][data-part="item"][data-state="on"] .icon.state-on {
    display: block !important;
  }

  .toggle-group [data-scope="toggle-group"][data-part="item"][data-state="off"] .icon.state-on {
    display: none !important;
  }
  .toggle-group [data-scope="toggle-group"][data-part="item"][data-state="on"] .icon.state-off {
    display: none !important;
  }

  .toggle-group [data-scope="toggle-group"][data-part="item"][data-state="off"] .icon.state-off {
    display: block !important;
  }

  .toggle-group.toggle-group--inverted [data-scope="toggle-group"][data-part="item"][data-state="on"] {
    background-color: var(--color-ui);
    color: var(--color-ui--text);
  }

  .toggle-group.toggle-group--inverted [data-scope="toggle-group"][data-part="item"][data-state="on"]:hover {
    background-color: var(--color-ui-accent);
    color: var(--color-ui-accent--text);
  }
}

@utility toggle-group--* {
  [data-scope="toggle-group"][data-part="root"] {
    max-width: --value(--container-mini-*, [length]);
  }

  [data-scope="toggle-group"][data-part="label"] {
    font-size: --value(--text-ui-*, [length]);
    line-height: --value(--text-ui-* --line-height, [length]);
  }

  [data-scope="toggle-group"][data-part="trigger"] {
    font-size: --value(--text-ui-*, [length]);
    line-height: --value(--text-ui-* --line-height, [length]);
    min-height: --value(--spacing-ui-*, [length]);
  }

  [data-scope="toggle-group"][data-part="control"] {
    width: --value(--container-mini-*, [length]);
    gap: --value(--spacing-mini-gap-*, [length]);
  }

  [data-scope="toggle-group"][data-part="item"] {
    font-size: --value(--text-ui-*, [length]);
    line-height: --value(--text-ui-* --line-height, [length]);
    min-height: --value(--spacing-ui-*, [length]);
  }

  [data-scope="toggle-group"][data-part="item"][data-toggle-grouped],
  [data-scope="toggle-group"][data-part="item"][data-state="checked"] {
    background-color: --value(--color-ui-*, [color]);
    color: --value(--color-ui-* --text, [color]);
  }

  [data-scope="toggle-group"][data-part="item"][data-toggle-grouped]:hover,
  [data-scope="toggle-group"][data-part="item"][data-state="checked"]:hover {
    background-color: --value(--color-ui-* -hover, [color]);
    color: --value(--color-ui-* --text, [color]);
  }

  [data-scope="toggle-group"][data-part="item"][data-toggle-grouped]:active {
    background-color: --value(--color-ui-* -active, [color]);
    color: --value(--color-ui-* --text, [color]);
  }

  [data-scope="toggle-group"][data-part="item"][data-highlighted] {
    outline: 2px solid --value(--color-ui-* --text, [color]);
    background-color: --value(--color-ui-* -hover, [color]);
    color: --value(--color-ui-* --text, [color]);
  }

  [data-scope="toggle-group"][data-part="item"][data-toggle-grouped][data-highlighted],
  [data-scope="toggle-group"][data-part="item"][data-state="checked"][data-highlighted] {
    outline: 2px solid var(--color-ui-accent--text);
    background-color: --value(--color-ui-* -hover, [color]);
    color: --value(--color-ui-* --text, [color]);
  }
}
