@import "../main.css";

@layer components {
  .tooltip [data-scope="tooltip"][data-part="positioner"] {
    z-index: 50;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .tooltip [data-scope="tooltip"][data-part="positioner"]:has(
    [data-scope="tooltip"][data-part="content"][data-state="open"]
  ) {
    visibility: visible;
    pointer-events: auto;
  }

  .tooltip [data-scope="tooltip"][data-part="content"] {
    @apply ui-content;

    padding: --spacing(4);
    max-width: var(--container-5xs);
    position: relative;
    z-index: 1;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-ui);
  }

  .tooltip [data-scope="tooltip"][data-part="content"][data-state="closed"] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s;
  }

  .tooltip [data-scope="tooltip"][data-part="content"][data-state="open"] {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.15s, opacity 0.15s;
  }

  .tooltip [data-scope="tooltip"][data-part="arrow"] {
    --arrow-size: var(--spacing-space);
    --arrow-background: var(--color-ui);
    z-index: 0;
  }

  .tooltip [data-scope="tooltip"][data-part="arrow-tip"] {
    background: var(--arrow-background);
    border: 1px solid var(--color-border);
  }
}

@utility tooltip--* {
  max-width: --value(--container-*, [length]);

  [data-scope="tooltip"][data-part="content"] {
    padding: --value(--spacing-space-*, [length]);
    font-size: --value(--text-*, [length]);
    line-height: --value(--text-*--line-height, [length]);
    background: --value(--color-ui, [color]);
    color: --value(--color-ink, [color]);
    border-color: --value(--color-border, [color]);
  }

  [data-scope="tooltip"][data-part="arrow"] {
    --arrow-size: calc(--value(--spacing-*, [length]) * 0.25);
    --arrow-background: --value(--color-ui, [color]);
  }

  [data-scope="tooltip"][data-part="arrow-tip"] {
    background: var(--arrow-background);
    border-color: --value(--color-border, [color]);
  }
}
